@model IEnumerable<WorkMachine>
@{
    ViewData["Title"] = "WorkMachineList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="intro">

                <h1 style="color:orangered">İŞ MAKİNASI YÖNETİM SAYFASI</h1><br>
                <p class="mx-auto" style="color:orangered">
                    <a style="color:black" class="btn btn-brand" asp-area="Admin" asp-controller="WorkMachine" asp-action="Add">İş Makinesi Ekle</a>
                </p>
                <a class="navbar-brand" asp-controller="AdminMain" asp-action="Index" style="font-size:100px">TRUCK<span class="dot">.</span></a>
            </div>
        </div>
    </div>
</div>



  <div class="mt-5 col-auto">
        @if (Model.Count() == 0)
        {
            <div class="alert alert-danger" role="alert">
                Boşta aracımız bulunmamaktadır.
            </div>
        }
        else
        {

            <div class="table-container">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Araç</th>
                            <th scope="col">Günlük Fiyat</th>
                            <th scope="col">İşlem</th>
                            <th scope="col">İşlem</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">@item.ID</th>
                                <td>@item.WorkMachineName</td>
                                <td>@item.DailyPrice</td>
                            <td><a style="color:black" class="btn btn-brand" asp-area="Admin" asp-controller="WorkMachine" asp-action="Delete" asp-route-id="@item.ID">Sil</a></td>
                            <td><a style="color:black" class="btn btn-brand" asp-area="Admin" asp-controller="WorkMachine" asp-action="Update" asp-route-id="@item.ID">Güncelle</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        }
    </div>



